.home{
    width: 100%;
    height: auto;
    .first{
        width: 100vw;
        height: 75vh;
        display: flex;
        align-items: flex-end;
        position: relative;
        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $black;
            object-fit: cover;
            z-index: -1;
        }
        h1{
            @include centera;
            color: white;
            font-variant-caps: all-small-caps;
            letter-spacing: 4px;
            top: 30%;
        }
    }
    .scroll_bottom{
        width: 100%;
        height: 60vh;
        background-color: white;
        position: relative;
        .txt{
            width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        .scrollb{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            top: 0;
            left: 50%;
            transform:translate(-50%, -50%);
            cursor: pointer;
            &:after{
                content: "";
                @include centera;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(1.2);
                border: 1px solid white;
                z-index: -1000;
            }
            .arrow{
                transform: translate(-50%, -50%) rotate(135deg);
                z-index: 5000000;
            }
            &:hover{
                .arrow{
                    animation: flotte 1s linear infinite;
                }
                @keyframes flotte{
                    0%{
                        transform: translate(-50%, -50%) rotate(135deg);
                    }
                    50%{
                        transform: translate(-50%, -55%) rotate(135deg);
                    }
                    100%{
                        transform: translate(-50%, -50%) rotate(135deg);
                    }
                }
            }
        }
        a{
            color: black;
            cursor: pointer;
        }
        .h2{
            @include centera;
            font-variant-caps: all-small-caps;
            top: 25%;
            background-color: white;
            z-index: 5000;
            &:after{
                content: "";
                width: 120%;
                position: absolute;
                height: 3px;
                bottom: -10px;
                background-color: $yellow;
                left: 50%;
                transform: translateX(-50%) scaleX(0.9);
                transition: .5s ease-out;
            }
        }
    }
    .second{
        width: 100%;
        height: 40vh;
        position: relative;
        background-image: url('../../img/home/homefond.jpg');
        background-size: contain;
        background-attachment: fixed;
        background-position:center top ;
        .h2{
            color: white;
            font-variant-caps: all-small-caps;
            @include centera;
            &:after{
                width: 120%;
                position: absolute;
                height: 3px;
                background-color: $yellow;
                left: 50%;
                transform: translateX(-50%);
                bottom: -10px;
                content: "";
            }
        }
    }
    .choix{
        width: 100%;
        height: 60vh;
        @include centerf;
        .center{
            width: 90%;
            height: 60%;
            display: flex;
            justify-content: space-between;
            .choix1{
                width: 32%;
                height: 100%;
                overflow: hidden;
                cursor: pointer;
                position: relative;
                .txt{
                    width: 90%;
                    height: auto;
                    @include centera;
                    z-index: 60000;
                    transform-origin: center;
                    transition: .3s ease-out;
                    p{
                        color: white;
                        &:first-child{
                            font-variant-caps: all-small-caps;
                            font-size: clamp(18px, 1.5vw, 35px);
                        }
                    }
                    hr{
                        margin: 1vh 0;
                        height: 3px;
                        border: none;
                        background-color: $yellow;
                    }
                    .fleche{
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: flex-end;
                        i{
                            color: white;
                            font-size: 2vw;
                            transition: .3s ease-out;
                            transform-origin: 0% 100%;
                        }
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .3s ease-out;
                }
                &::after{
                    content:"";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $black;
                    position: absolute;
                    z-index: 5000;
                    opacity: 0.8;
                    transition: .3s ease-out;
                }
                &:hover{
                    .txt{
                        transform: translate(-50%, -50%) scale(0.9);
                    }
                    &:after{
                        transform: scale(0.9);
                        opacity: 0.4;
                    }
                    img{
                        transform: scale(1.1);
                        filter: blur(2px);
                    }
                    .fleche{
                        i{
                            transform: scaleX(1.2);
                        }
                    }
                }
            }
        }
    }
    .appli{
        width: 100%;
        height: 100vh;
        background-color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        .h2{
            font-variant-caps: all-small-caps;
            color: white;
            text-align: center;
            padding: 5vh 0;
        }
        .center{
            width: 60%;
            height: 75%;
            margin-top: 2vh;
            display: flex;
            flex-wrap: wrap;
            .categorie{
                width: 33.333%;
                height: 50%;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                transition: transform .5s ease-out;
                position: relative;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                i{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    z-index: 600000;
                    font-size: clamp(18px, 2vw, 35px);
                    color: white;
                    transition: .3s ease-out;
                    opacity: 0;
                }
                .txt{
                    width: 95%;
                    height: auto;
                    z-index: 60000;
                    transition: .2s ease-out;
                    opacity: 0;
                    position: relative;
                    margin-bottom: 2vh;
                    .h2{
                        text-align-last: left;
                        padding:00;
                        &::first-letter{
                            color: $yellow;
                        }
                    }
                    hr{
                        background-color: $yellow;
                        border: none;
                        height: 3px;
                        margin: 1vh 0;
                    }
                    p{
                        font-size: clamp(13px, 1vw, 16px);
                        color: white;
                        line-height: 20px;
                        margin-bottom: 2vh;
                    }
                    .h2, hr, .para{
                        transform: translateY(-300px);
                        transition: .5s ease-out;
                    }
                }
                .hover{
                    background-color:#19252ea9;
                    z-index: 6000;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0;
                    display: flex;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    transition: .2s ease-out;
                }
                &:hover{
                    transform: scale(1.1);
                    z-index: 7000;
                    .hover{
                        opacity: 1;
                    }
                }
                &:hover{
                    img{
                        filter: blur(2px) brightness(0.6);
                    }
                    .txt{
                        opacity: 1;
                    }
                    i{
                        transform: scaleX(1.2);
                        opacity: 1!important;
                        color: #90702F;
                    }
                    .h2, hr, .para{
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
@media screen  and (max-width:1200px) and (min-width:600px) {
    .home{
        .trois{
            .center .img .titre{
                opacity: 0;
            }
            .hover{
                transform: translate(0)!important;
                p{
                    line-height: 25px;
                }
            }
        }
        .para{
            margin-bottom: 0!important;
        }
        .appli .center{
            height: 65%!important;
        }
    }
}
@media screen  and (max-width:900px) and (min-width:600px) {
    .home{
        .appli{
            .center{
                width: 95%!important;
                height: 60%!important;
            }
            .para{
                margin-bottom: 0!important;
            }
            .lien{
                transform: translateY(10px);
            }
        }
    }
}
@media screen  and (max-width:600px) {
    .home{
        .first{
            height: 85vh;
            h1{
                white-space: nowrap;
            }
        }
        .scroll_bottom{
            height: 85vh;
            .h2{
                top: 10%;
            }
            .txt{
                transform: translate(-50%, -35%);
                width: 90%;
            }
        }
        .second{
            height: 20vh;
        }
        .choix{
            height: auto;
            .center{
                height: auto;
                flex-direction: column;
                width: 95%;
                .choix1{
                    height: 30vh;
                    width: 100%;
                    margin: 2vh 0;
                    &:after{
                        opacity: 0.4;
                    }
                }
            }
        }
        .appli{
            height: auto;
            .center{
                flex-direction: column;
                width: 90%;
                .categorie{
                    height: 35vh;
                    width: 100%;
                    margin: 1vh 0;
                    border: 1px solid white;
                    i{
                        display: flex;
                        opacity: 1;
                    
                    }
                    img{
                        filter: blur(2px);
                    }
                    .hover{
                        opacity: 1;
                    }
                    .txt{
                        opacity: 1;
                    }
                    .h2, hr, .para{
                        transform: translateY(0)!important;
                        z-index: 80000;
                    }
                }
            }
        }
    }
}