.home{
    width: 100%;
    height: auto;
    .first{
        width: 100vw;
        height: 75vh;
        display: flex;
        align-items: flex-end;
        position: relative;
        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $black;
            object-fit: cover;
            z-index: -1;
        }
        h1{
            @include centera;
            color: white;
            font-variant-caps: all-small-caps;
            letter-spacing: 4px;
            top: 30%;
        }
    }
    .scroll_bottom{
        width: 100%;
        height: 60vh;
        background-color: white;
        position: relative;
        .txt{
            width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        .scrollb{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            top: 0;
            left: 50%;
            transform:translate(-50%, -50%);
            cursor: pointer;
            &:after{
                content: "";
                @include centera;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(1.2);
                border: 1px solid white;
                z-index: -1000;
            }
            .arrow{
                transform: translate(-50%, -50%) rotate(135deg);
                z-index: 5000000;
            }
            &:hover{
                .arrow{
                    animation: flotte 1s linear infinite;
                }
                @keyframes flotte{
                    0%{
                        transform: translate(-50%, -50%) rotate(135deg);
                    }
                    50%{
                        transform: translate(-50%, -55%) rotate(135deg);
                    }
                    100%{
                        transform: translate(-50%, -50%) rotate(135deg);
                    }
                }
            }
        }
        a{
            color: black;
        }
        .h2{
            @include centera;
            font-variant-caps: all-small-caps;
            top: 25%;
            background-color: white;
            z-index: 5000;
            &:after{
                content: "";
                width: 120%;
                position: absolute;
                height: 3px;
                bottom: -10px;
                background-color: $yellow;
                left: 50%;
                transform: translateX(-50%) scaleX(0.9);
                transition: .5s ease-out;
            }
        }
    }
    .second{
        width: 100%;
        height: 40vh;
        position: relative;
        background-image: url('../../img/home/homefond.jpg');
        background-size: contain;
        background-attachment: fixed;
        background-position:center top ;
        .h2{
            color: white;
            font-variant-caps: all-small-caps;
            @include centera;
            &:after{
                width: 120%;
                position: absolute;
                height: 3px;
                background-color: $yellow;
                left: 50%;
                transform: translateX(-50%);
                bottom: -10px;
                content: "";
            }
        }
    }
    .trois{
        width: 100%;
        height: 60vh;
        background-color: white;
        @include centerf;
        .center{
           width: 90%;
           height: 60%;
           display: flex;
           justify-content: space-between;
           .img{
            width: 32%;
            height: 100%;
            background-color: black;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            position: relative;
            flex-direction: column;
            .titre{
                @include centera;
                z-index: 6000;
                color: white;
                font-size: 2.5vw;
                font-variant-caps: all-small-caps;
                opacity: 0.4;
                transition: .3s ease-out;
                white-space: nowrap;
                top: 15%;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .hover{
                width: 100%;
                margin: 0 auto;
                height: 100%;
                z-index: 5000;
                background-color: #19252e60;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                transition: .3s ease-out;
                transform: translateY(100%);
                .txt{
                    height: auto;
                }
                hr{
                    border: none;
                    height: 3px;
                    background-color: $yellow;
                    margin: 1vh 0;
                    padding: 0 10px;
                    width: 100%;
                }
                .para{
                    color: white;
                    font-size: clamp(14px, 1vw, 15px);
                    margin-bottom: 2vh;
                    padding: 0 10px;
                }
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover{
                .hover{
                    transform: translate(0);
                    i{
                        transform: scaleX(1.5);
                    }
                }
            }
           }
        }
    }
    .appli{
        width: 100%;
        height: 100vh;
        background-color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        .h2{
            font-variant-caps: all-small-caps;
            color: white;
            text-align: center;
            padding: 5vh 0;
        }
        .center{
            width: 60%;
            height: 75%;
            margin-top: 2vh;
            display: flex;
            flex-wrap: wrap;
            .categorie{
                width: 33.333%;
                height: 50%;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                transition: transform .5s ease-out;
                position: relative;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                i{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 6000;
                }
                .txt{
                    width: 95%;
                    height: auto;
                    z-index: 60000;
                    transition: .2s ease-out;
                    opacity: 0;
                    position: relative;
                    margin-bottom: 2vh;
                    .h2{
                        text-align-last: left;
                        padding:00;
                        &::first-letter{
                            color: $yellow;
                        }
                    }
                    hr{
                        background-color: $yellow;
                        border: none;
                        height: 3px;
                        margin: 1vh 0;
                    }
                    p{
                        font-size: clamp(13px, 1vw, 16px);
                        color: white;
                        line-height: 20px;
                        margin-bottom: 2vh;
                    }
                    .h2, hr, .para{
                        transform: translateY(-300px);
                        transition: .5s ease-out;
                    }
                }
                .hover{
                    background-color:#19252ea9;
                    z-index: 6000;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0;
                    display: flex;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    transition: .2s ease-out;
                }
                &:hover{
                    transform: scale(1.1);
                    z-index: 7000;
                    .hover{
                        opacity: 1;
                    }
                }
                &:hover{
                    img{
                        filter: blur(2px) brightness(0.6);
                    }
                    .txt{
                        opacity: 1;
                    }
                    i{
                        transform: scaleX(1.2);
                        opacity: 1!important;
                        color: #90702F;
                    }
                    .h2, hr, .para{
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
@media screen  and (max-width:1200px) and (min-width:600px) {
    .trois{
        .hover{
            transform: translate(0)!important;
            p{
                line-height: 25px;
            }
        }
    }
    .para{
        margin-bottom: 0!important;
    }
    .appli .center{
        height: 85%!important;
    }
}
@media screen  and (max-width:900px) and (min-width:600px) {
    .appli{
        .center{
            width: 95%!important;
            height: 60%!important;
        }
        .para{
            margin-bottom: 0!important;
        }
        .lien{
            transform: translateY(10px);
        }
    }
}